.container {
  display: flex;
  flex-wrap: wrap;  
  z-index: 1;
  border-bottom:1px solid white;
}



.container h3 {
    width: 80%;
    margin-bottom: 0;
}

.container p {
    width: 80%;
    margin-bottom: 1rem;
    color: rgba(255, 255, 255, .7);
}

.buttonContainer {
    position: relative;
    width: 20%; 
    display: flex;
    justify-content: center;
}

.addButton {
    background: transparent;
    border: none;
}

.addButton::before {
    content: "+";
    color: white;
    font-size: 1.5rem;
}

.removeButton {
    background: transparent;
    border: none;
}

.removeButton::before {
    content: "-";
    color: white;
    font-size: 2rem;
}