.app {
  background-image: url(./utilities/images/DB0B3B0A-1888-41AB-B044-AB24A90229CE..jpeg);
  background-position-x: -25rem;
  background-repeat: no-repeat;
  background-size: 150%;
  color: aliceblue;
}
 .appHeader {
  align-content: center;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
 }

 .appHeader h1 {
  width: 100%;
  display: inline-flex;
  justify-content: center;
  margin-bottom: 0;;
 }

.appHeader h5 {
  margin-top: 0;
}

.searchBar {
  justify-content: center;
  display: inline-flex;
  width: 100%;
  height: 2rem;
  margin-bottom: 4rem;
}

.searchResults {
  width: 30%;
  display: inline-flex;
  justify-content: center;
  position: relative;
  height: 40rem;
  
}

.appBody {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  height: 55rem;
}

.playlist {
  width: 30%;
  display: inline-flex;
  justify-content: center;
  position: relative;
  height: 40rem;
  
}